doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Super Bank
    link(rel='stylesheet', href='./css/app.css')
  body
    #wrapper
    h1 Super Bank
    div#balance

      input#input
      button#deposit
      button#withdraw

    table#ledger
      thead
        tr
          th Fee
          th Deposit
          th Withdraw
          th Balance
      tobdy
        tr
          td
          td
          td
          td $1000
    script(src='.js/vendor/jquery-2.1.0.js')
    script(src='.js/source/main.js')
